
.banner-container {
    display: flex;
    align-items: center;
}

.slideshow-container {
    width: 800px; /* Horizontal banner width */
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #ae8a79;;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
    height: 100%;
    align-items: center;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: 20px;
    align-items: center;
    padding: 25px;
}

.profile-pic {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    object-fit: cover;
    
}

.description {
    text-align: left; /* Align the text to the left */
}

.description h2 {
    margin: 0;
    font-size: 24px;
    color: white;
    font-family: FS Me;
}

.description p {
    margin: 5px 0 0;
    color: white;
    font-family: FS me;
}

/* Arrow Styling */
.arrow {
    position: relative;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px; /* Increased padding for larger buttons */
    cursor: pointer;
    border-radius: 20%; /* Fully round buttons */
    user-select: none;
    z-index: 10;
    margin: 0 20px; /* Add margin to move the arrows outside */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}